<h2>Pictures</h2>
Files:
<div *ngFor="let item of files" style="display: inline-flex;">
    <button (click)="selectImage(item)"> {{ item }} </button>
</div>
<br>
<div *ngIf="image; else noImage">
    <img [src]="image" alt="" height="200px">
</div>
<br>
<div *ngIf="postSub$" style="font-size: large;">
    Comments: {{ comments }}
    <br>
    Likes: {{ likes }} | Dislikes: {{ dislikes }}
</div>

<div>
    <button type="button" (click)="updateLikes(1)">Like</button>
    <button type="button" (click)="updateLikes(-1)">Dislike</button>
    <button type="button" (click)="resetLikes()">Reset likes and dislikes</button>
</div>

<ng-template #noImage>no image</ng-template>
